contourpy==1.3.3
cycler==0.12.1
fonttools==4.64.0
jax==0.11.1
jaxlib==0.11.1
kiwisolver==1.5.1
matplotlib==3.11.1
ml_dtypes==0.6.0
numpy==2.5.2
opt_einsum==3.4.0
packaging==26.3
pillow==12.3.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
scipy==1.18.1
six==1.17.0
